<!-- Standard Footer -->
        <div class="content">
            <h2 class="content-head is-center">Join the Tribe.</h2>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                    </style>

                    <div id="mc_embed_signup">
                        <form action="//NewBarbarianTribe.us15.list-manage.com/subscribe/post?u=80f52b3beca246ce1ceae122d&amp;id=44a2757c3e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate pure-form pure-form-stacked" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <h2>Subscribe to our mailing list</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-FNAME">First Name </label>
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-LNAME">Last Name </label>
                            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                        </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div> <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_80f52b3beca246ce1ceae122d_44a2757c3e" tabindex="-1" value=""></div><div class="clear"><input type="submit" value="Get Barbaric" name="subscribe" id="mc-embedded-subscribe" class="button pure-button"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4>Contact Us</h4>
                    <p>Fill out the form to learn more about the Tribe: a community of Catholic Men committed bettering every aspect of their lives and growing into the mission given by God to shape this world in imitation of the Heavenly Kingdom.</p>
                    <p>The founder, Robert "The New Barbarian" Storey, is a Catholic teacher, coach, and renaissance man. He has worked in men's formation since 2007 and is dedicated to creating a New American Catholic Culture.</p>

                    <h4>More Information</h4>
                    <p>We want to hear from you. We want to know what you are interested in and what
                        you are looking for in your life journey so we can help you find it.</p>
                </div>
            </div>

            </div>

    <div class="footer l-box is-center">
    &copy; 2017 The New Barbarian, LLC
    </div>

    </div>
        <!-- Load Scripts last! -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

       <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-97377705-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>