{% include header.html %}


<div class="splash-container">
    <div class="splash">Develop grit, strength, power, and control - carve a new man from stone with the
        <h1 class="splash-head"><strong>Barbarian Challenge Workout</strong></h1>
        
        <p class="splash-subhead">
            Test your barbaric mettle with the free Barbarian Challenge Workout.
        </p>
        <p>

        <!-- Top MailChimp Sign-up -->
        <div id="mc_embed_signup" class="top">
            <form action="//NewBarbarianTribe.us15.list-manage.com/subscribe/post?u=80f52b3beca246ce1ceae122d&amp;id=44a2757c3e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_80f52b3beca246ce1ceae122d_44a2757c3e" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Get Barbaric" name="subscribe" id="mc-embedded-subscribe" class="button pure-button pure-button-primary"></div>
                </div>
            </form>
        </div>

        <!--End mc_embed_signup-->

        </p>
    </div>
</div>

<div class="content-wrapper content-home">
    <div class="content">
        <h2 class="content-head is-center">Live up to your potential. Become your best self.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    3 Month Training Guide
                </h3>
                <p>
                    Shape the man you are in a 3 month, progressive training program, made for barbarians.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Strength Over Vanity
                </h3>
                <p>
                    Don't waste time building a body that looks good, but can't do anything useful. Focus on real barbaric strength, muscle, and conditioning.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    More Than The Body
                </h3>
                <p>
                    Train every aspect of yourself. A COMPLETE training program addressing the body, the mind, and the spirit.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Immersed In Catholic Tradition
                </h3>
                <p>
                Be a part of something bigger than yourself. Discover and fulfill God's mission for YOU.
                 </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img id="logo" src="library/img/TNB-only-B.svg" alt="The New Barbarian Logo">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Be Better. Be Barbaric.</h2>
            <p>
                Get the exclusive access to a great community of men fighting to be better men, continuously updated workout programs and special gift. Start your journey today, <a href= "paid-program.html" class="red">learn more.</a>
            </p>
        </div>
    </div>
{% include footer.html %}
