{% include header.html %}

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head"><strong>{{ page.title }}</strong></h1>
        
        <p class="splash-subhead">
            Get the free barbarian workout.
        </p>
        <p>

        <!-- Top MailChimp Sign-up -->
        <div id="mc_embed_signup" class="top">
            <form action="//NewBarbarianTribe.us15.list-manage.com/subscribe/post?u=80f52b3beca246ce1ceae122d&amp;id=44a2757c3e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_80f52b3beca246ce1ceae122d_44a2757c3e" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Get Barbaric" name="subscribe" id="mc-embedded-subscribe" class="button pure-button pure-button-primary"></div>
                </div>
            </form>
        </div>

        <!--End mc_embed_signup-->

        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
           <div class="copy">
           {{content}}
           <h2 id="launch-sale" class="red">Don't Miss the Launch Sale!</h2>
           </div>
     
    </div>

    
    <h2 id="countdown" class="is-center"></h1>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <h3 class="content-head content-head-ribbon">Be awesome. Be Barbaric.</h3>
        <div class="red price"><strike>$67</strike> $45</div>
        <!-- paypal button -->
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="SJHRUS844SRQE">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>





        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Go Premium. Limited time offer.</h2>
            <p>
                 Get the exclusive access to a great community of men fighting to be better men, continuously updated workout programs and special gift. Start your journey today, <a class="red" href="paid-program.html">learn more.</a>
            </p>
        </div>
    </div>
{% include footer.html %}
